# Allow frontend/ and backend/ folders
!/backend/
!/frontend/

# Explicitly allow the context directory and its files
!/frontend/context/AuthContext.js
!/frontend/context/

# Ensure these are still ignored
/frontend/node_modules
/backend/node_modules